/*Html styles*/
html {
    background-color: #31525b;

}



/*Body styles*/
body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*Navbar Styles */
nav ul {
    display: flex;
    background-color: #fae6b1;
    justify-content: center;
}

nav ul li {
    padding: 3% 1vw;
}

nav ul li a {
    color: #31525b;
    padding: 15px;
}

nav ul li a:hover {
    color: black;
    border-bottom: black solid 2px;
}

#order {
    background-color: #31525b;
    color: white;
    border-radius: 100px;
    transition-duration: 800ms;
}

#order:hover {
    color: #31525b;
    background-color: #ffa101;
}

/*Form Styles */

h2 {
    font-size: 1.5rem;
    border-bottom: grey solid 2px;
    margin-bottom: 1em;
}

section {
    margin-top: 5rem;
    text-align: center;
}

form {
    background-color: #fae6b1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: black solid 3px;
    text-align: left;
    gap: 1em;
}

fieldset {
margin-bottom: 1em;    
margin-left: 1em;
margin-right: 1em;
}

#address {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#email {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#tele {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#full_name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#job_title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

label {
    margin-left: 2em;
}

input {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

#M_int {
    width: 10px;
}

.title {
    background-color: #90dff5;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1em;
    padding: .5em;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
}

/*Footer Styles */


footer div #img_pattern {
    background-image: url(/Images/dot_pattern.png);
    background-repeat: repeat-x;
    background-position: center;
    padding-left: 50px;
    padding-right: 50px;
    width: 92%;
    height: 50px;
    opacity: .2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

footer h2 {
    margin-left: 4%;
    margin-top: 10%;
    font-size: 2.5rem;
    color: #ffa101;
    font-family: 'Parisienne';
}

footer section p {
    margin-left: 4%;
    color: aliceblue;
    margin-top: 5%;
    font-family: sans-serif;
    font-size: 1.25rem;
}


@media (max-width:570px) {

    nav ul li {
        text-align: center;
        border: black solid 1px;
        padding: 10px;
    }

    nav ul {
        display: block;
        width: 100%;
        border: none;
    }

    nav ul li a {
        padding: 0px;

    }

    #order {
        background-color: #31525b;
        color: #fae6b1;
        border-radius: 0px;
    }

    footer section p {
        font-size: 10px;
        white-space: nowrap;
    }

}

@media (min-width:571px) {
    nav ul li {
        padding: 20px 4%;
    }
}

@media (min-width:1400px) {
    form {
        width: 45%;
    }
}