/*Html styles*/
html {
    background-color: #fae6b1;

}

/*Body Styles */
body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}



/*Navbar Styles */
nav ul {
    display: flex;
    background-color: #31525b;
    justify-content: right;
    border-bottom: black solid 4px;
}

nav ul li {
    padding: 3% 1vw;
}

nav ul li a {
    color: #fae6b1;
    padding: 15px;
    transition-duration: 800ms;
}

nav ul li a:hover {
    color: #ffa101;
    border-bottom: #fae6b1 solid 1px;
    transition-duration: 800ms;
}

#navbar_logo {
    position: absolute;
    width: 7%;
    left: 5%;
    overflow: visible;
}

#navbar_logoz {
    width: 0px;
}

#order {
    background-color: #ffa101;
    color: black;
    border-radius: 100px;
    transition-duration: 800ms;

}

#order:hover {
    color: #31525b;
    background-color: #fae6b1;
    transition: ease-in;
}




/*Header Styles */

#main_picture {
    background-image: url('../Images/Menu_main_picture.png');
    width: 100%;
    height: 60vw;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: black solid 4px;
}

#Nutrition {
    text-align: center;
    border: black solid 2px;
    width: 10%;
    padding: 1.2vw;
    background-color: wheat;
    font-size: 1vw;
}

#Nutrition a {
    color: #31525b;
    text-decoration: none;
}

#Nutrition a:hover {
    color: #fae6b1;
    transition-duration: 1000ms;
    text-decoration: none;
}

#Nutrition:hover {
    background-color: #31525b;
    transition-duration: 1000ms;
    color: #fae6b1;
}


/* Breakfast  Menu */

#breakfast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    gap: 1em;
    height: 35em;
    width: 60%;
}

#eggs {
    background-image: url(/Images/eggs_menu.png);
    background-position: center;
    background-size: cover;
    border: black solid 2px;
}

#oatmeal {
    background-image: url('../Images/oatmeal_menu.png');
    background-position: center;
    background-size: cover;
    border: black solid 2px;

}

#pancakes {
    background-image: url('../Images/pancakes_menu.png');
    background-position: center;
    background-size: cover;
    border: black solid 2px;
}

#toast {
    background-image: url('../Images/avocado_toast.png');
    background-position: center;
    background-size: cover;
    border: black solid 2px;

}

#bacon {
    background-image: url(/Images/maple_bacon_menu.png);
    background-position: center;
    background-size: cover;
    border: black solid 2px;

}

#omelette {
    background-image: url('../Images/omelete_menu.png');
    background-position: center;
    background-size: cover;
    border: black solid 2px;
}

#classics {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 5em;
}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5em;
    border-top: black solid 5px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

#breakfastlogo {
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
}

#early {
    font-size: 3em;
    font-family: 'Norican', cursive;
    text-align: center;
    line-height: 1.4em;
    color: #31525b;
}

#menu_drinks {
    text-align: center;
}

#menu_classics {
    text-align: center;
}


#menu_drinks h3 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2.5em;
}


#menu_classics h3 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2.5em;
}

#menu_classics h4 {
    border-bottom: black solid 1px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
}


#menu_drinks h4 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

#menu_classics p {
margin-bottom: 3em;
}


/*Footer Styles*/

footer div #img_pattern {
    background-image: url(/Images/dot_pattern.png);
    background-repeat: repeat-x;
    background-position: center;
    padding-left: 50px;
    padding-right: 50px;
    width: 92%;
    height: 50px;
    opacity: .2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

footer h2 {
    margin-left: 4%;
    margin-top: 1em;
    font-size: 2.5rem;
    font-family: 'Parisienne';
}

footer section p {
    margin-left: 4%;
    margin-top: 5%;
    font-family: sans-serif;
    font-size: 1.25rem;
}



/* Media Queries */
@media (max-width:570px) {
   
    #breakfast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 4em;
        margin-left: auto;
        margin-right: auto;
        gap: 0.3em;
        height: 8em;
        width: 100%;
    }
    
    #eggs {
      display: none;
    }
    
    #oatmeal {
        display: none;
    }
    
    #pancakes {
        display:none;
    }
    
    #toast {
        background-image: url('../Images/avocado_toast.png');
        background-position: center;
        background-size: cover;
        border: none;
  
    }
    
    #bacon {
        background-image: url(/Images/maple_bacon_menu.png);
        background-position: center;
        background-size: cover;
        border: none;
        
    
    }
    
    #omelette {
        background-image: url('../Images/omelete_menu.png');
        background-position: center;
        background-size: cover;
        border: none;
      
    }


    #menu {
        display: block;
      
        margin-left: 5em;
        border-top: black solid 5px;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
    }


    #breakfastlogo {
        font-size: 3.5em;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #early {
        font-size: 3em;
        font-family: 'Norican', cursive;
        text-align: center;
        line-height: 1em;
        color: #31525b;
    }
    
    #menu_drinks h3 {
        margin-top: 2em;
        margin-bottom: 1.25em;
        font-size: 2.5em;
    }
    
    
    #menu_classics h3 {
        margin-top: 2em;
        margin-bottom: 1.25em;
        font-size: 2.5em;
    }

nav ul{
    border: none;
}

    nav ul li {
        text-align: center;
        border: black solid 1px;
        padding: 10px;
    }

    #navbar_logo {
        width: 0px;
        left: 5px;
    }

    #navbar_logoz {
        width: 20vw;
        top: 0px;
        left: 0px;
        position: absolute;
    }

    nav ul {
        display: block;
        width: 100%;

    }

    nav ul li a {
        padding: 0px;

    }

footer h2 {
    margin-top: 6em;
}


    footer section p {
        font-size: .9rem;
    }

    #order {
        background-color: #31525b;
        color: #fae6b1;
        border-radius: 0px;
    }

    #main_picture {
        margin-top: 25px;
        height: 120vw;
        position: relative;
        margin-bottom: 15px;
        border-top: black solid 4px;
    }

    #Nutrition {
        text-align: center;
        border: black solid 2px;
        width: 35vw;
        padding: 3vw;
        background-color: wheat;
        font-size: 5vw;
    }

}

@media (min-width:571px) {
    nav ul li {
        padding: 20px 4%;
    }

    #navbar_logo {
        width: 9%;
        left: 25px;

    }

    #Nutrition {
        text-align: center;
        border: black solid 2px;
        width: 35vw;
        padding: 3vw;
        background-color: wheat;
        font-size: 5vw;
        line-height: 4.5vw;
    }

}

@media (min-width:750px) {

    nav ul li {
        padding: 20px 4%;
    }

    #navbar_logo {
        width: 9%;
        left: 25px;

    }

    #Nutrition {
        text-align: center;
        border: black solid 2px;
        width: 30vw;
        padding: 2vw;
        background-color: wheat;
        font-size: 3.5vw;
        line-height: 4.5vw;
    }


}


@media (min-width:1000px) {
    h1 {
        font-size: 7vw;
    }

    nav ul li {
        padding: 20px 4%;
    }

    #navbar_logo {
        width: 9%;
        left: 25px;

    }

    #main_picture {
        height: 50vw;
    }

    #Nutrition {
        text-align: center;
        border: black solid 2px;
        width: 20vw;
        padding: 1vw;
        background-color: wheat;
        font-size: 2.5vw;
        line-height: 4.5vw;
    }
}

    @media (min-width:1400px) {
        h1 {
            font-size: 6vw;
        }

        #main_picture {
            height: 40vw;
        }
    }

    @media (min-width:1400px) {
        #main_picture {
            height: 45vw;
        }


    }

    @media (min-width:1700px) {
        #Nutrition {
            text-align: center;
            border: black solid 2px;
            width: 13vw;
            padding: .3vw;
            background-color: wheat;
            font-size: 1.25vw;
            line-height: 3vw;
        }
    }