/*Html styles*/
html {
    background-color: #ffa101;
    
}



/*Body styles*/
body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}




/* homepage header styles */
 
nav ul{
display: flex;
background-color: #31525b;
justify-content: right;
}

nav ul li {
    padding: 1% 5%;
}

nav ul li a {
    color: #fae6b1;
    padding: 15px;
}

#navbar_logo
{
    position: absolute;
    width: 7%;
    left: 5%;
    overflow: visible;
}



#homepage-picture {
    width: 100%;
    height: 60vh;
    }



h1{
    font-family: 'Norican', cursive;
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 7em;
    line-height: 100%;
    color: black;
    rotate: -10deg;
}

#order {
    background-color: #ffa101;
    color: black;
    border-radius: 100px;
    
}

/*Section styles*/
#newsletter {
display: grid;
grid-template-columns:3.5fr 1fr;
}

#newsletter_pic {
    margin-top: 3%;
    margin-left: 3%;
    
}

#subscribe {
    margin-top: 20%;
     margin-right: 20%;
}

#subscribe p {
    padding: 10%;
}

#signup {
    background-color: #31525b;
    width:50%;
    color: #fae6b1;
}












/*Media Queries*/
@media (min-width:750px) {
    h1 {
        font-size: 4em;
    }

    nav ul li {
        padding: 20px 4%;
    }

     #navbar_logo {
        width: 15%;
        left: 25px;
        
    }

}


@media (max-width:735px) {
    h1 {
        font-size: 6em;
    }
}

@media (max-width:625px) {
    h1 {
        font-size: 5em;
    }
}

@media (max-width:540px) {
    h1 {
        font-size: 4em;
    }
}
@media (min-width:1400px) {
    h1 {
        font-size: 8.5em;
    }
}

@media (max-width:420px) {
    h1 {
        font-size: 3.8em;
     }

     nav ul li {
        padding: 5px 0px;
    }

     #navbar_logo {
        width: 15%;
        left: 5px;
    }
}

@media (max-width:300px) {
    h1 {
        font-size: 3em;
    }

    #navbar_logo {
        width: 10%;
    }
}
 
@media (min-height:700px) {
    h1 {
        font-size: 3.5em;
     }

     nav ul li {
        padding: 10px 0px;
    }

     #navbar_logo {
        width: 15%;
        left: 5px;
    }
}

@media (max-width:280px) {
    h1 {
        font-size: 3em;
        left: 10%;
        top: 30%;
     }

     nav ul li {
        padding: 5px;
        margin-left: 100px;
    }

     #navbar_logo {
        width: 15%;
        left: 5px;
    }
    #navbar_logo {
        width: 0px;
    }

    nav ul{
        display: block;
        width: 100%;
        }

        nav ul li a {
         padding: 0px;
        }

        #order {
            background-color: #31525b;
            color: #fae6b1;
            border-radius: 0px;
            
        }

    }


@media (min-width:750px) 
{
    h1 {
        font-size: 4em;
    }

    nav ul li {
        padding: 20px 4%;
    }

     #navbar_logo {
        width: 9%;
        left: 25px;
        
    }
}

@media (min-width:1000px) 
{
    h1 {
        font-size: 7em;
    }

    nav ul li {
        padding: 20px 3%;
    }

     #navbar_logo {
        width: 9%;
        left: 25px;
        
    }
}